.button-temperature {
    
    border: 0px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    color: #110E3C;
}


.light {
    background: #E7E7EB;
}

.dark {
    background: #585676;
}