.day-card-list-container {
    display: flex;
    background-color: #100E1D;
    margin-top: 4rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px) {

    .day-card-list-container{
        justify-content: center;
    }

}