.side-bar-container {
    width: 30%;
    background-color: #1E213A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1024px) {
    .side-bar-container {
        width: 100%;
    }
}